nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 80vh;

  & .day {
    outline: 1px solid;
    min-height: 20%;
    position: relative;
  }

  & .booking {
    background-color: oklch(from var(--color) l c h / 0.2);
  }
}

body {
  overflow-wrap: break-word;
}

header.grid {
  --min: 40vw;
}

@media print {

  body>h1,
  body>nav {
    display: none;
  }

}