menu {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 80vh;

  & .day {
    outline: 1px solid;
    min-height: 20%;
    position: relative;
  }

  & .booking {
    background-color: oklch(from var(--color) l c h / 0.2);
  }
}