@media (prefers-color-scheme: dark) {
    :root {
        color: red !important;
        color-scheme: dark;
    }
}
@media (prefers-color-scheme: light) {
    color: green !important;
    :root {
        color: red !important;
        color-scheme: light;
    }
}

.destructive {
    background-color: transparent;
    border: 3px solid var(--pico-color-red);
    color: var(--pico-color-red);
}

a.whatsapp {
    font-size: 35px;
    color: green;
    padding-left: 10px;
}

.flashes {
    max-height: 20vh;
    overflow: scroll;

    &:empty {
        display: none;
    }
}

.error:empty {
    display: none;
}

.interest:has(:target) {
   background-color: yellow;
}

@media (min-width: 768px) {
    .grid.good {
        grid-template-columns: repeat(auto-fit,minmax(33%, 1fr));
    }
}

.grid.interest {
    grid-template-columns: repeat(auto-fit,minmax(33%, 1fr));
}

@media (min-width: 960px) {
}

.grid.search-results .list {
    overflow: auto;
    height: 90vh;
}

#map {
    height: 90vh;
    position: sticky;
}

form input.inline-name {
    field-sizing: content;
    width: auto;
    &, &:active, &:focus {
        border: none;
        outline: none;
        background: transparent;
    }
}

form.inline {
    display: inline;
}

.messages {
    max-height: 50vh;
    overflow: scroll;
}

.leaflet-popup-content {
    overflow: scroll;
    & img {
        display: inline;
    }
}
