#map-container {
    height: 100vh;
    position: sticky;
}

html, body, #map {
    width: 100%:;
    height: 100%;
}

.interest:has(:target) {
   background-color: yellow;
}

@media (min-width: 768px) {
    .grid.good {
        grid-template-columns: repeat(auto-fit,minmax(33%, 1fr));
    }
}

.grid.interest {
    grid-template-columns: repeat(auto-fit,minmax(33%, 1fr));
}

@media (min-width: 960px) {
}

.grid.search-results .list {
    overflow: auto;
    height: 100vh;
}

.leaflet-popup-content {
    overflow: scroll;
    & img {
        display: inline;
    }
}
