:root {
    --color-surface: black;
    --color-on-surface: white;
    color-scheme: light dark;
    --color-destructive: red;
}

@media only screen and (prefers-color-scheme: light) {
    :root {
        --color-surface: white;
        --color-on-surface: black;
    }
}

nav ul {
    align-items: center;
    padding: 0;
    list-style: none;
    & li {
        display: inline-block;
        margin-right: 1ch;
    }
}

form {
    /* width: 30em; */
    /* max-width: 90%; */
    margin: 0 auto;
}

form input.inline-name {
    field-sizing: content;
    width: auto;
    margin: 0;
    padding: 0;
    &, &:active, &:focus {
        border: none;
        outline: none;
        background: transparent;
    }
}

.inline {
    display: inline;
}

fieldset {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    margin-bottom: 1rem;
    width: 90%;
}

form.grid input {
    display: inline;
    width: unset;
}

input[type="submit"] {
    width: unset;
}

body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.grid {
    --min: 30ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

    &.media {
        --min: 10ch;
    }

}
.phone * {
    display: inline;
}

.search-results .list {
    overflow: auto;
    height: 90vh;
}

.search-results #map {
    height: 90vh;
    position: sticky;
}


article.card {
    box-shadow: 0 0 0.5rem hsl(0 0% 0% / 35%);
    border-radius: 0.5rem;
    padding: 1rem;

    & img, & object {
      aspect-ratio: var(3/2);
      object-fit: cover;
      width: 100%;
    }
}

.destructive {
    background-color: transparent;
    border: 2px solid var(--color-destructive);
    color: var(--color-destructive);
}

a.whatsapp {
    font-size: 35px;
    color: green;
    padding-left: 10px;
}

a.tel {
    padding-left: 1ch;
}

.error {
    background-color: red;
}

.flashes {
    & .red {
        background-color: red;
    }
    & .green {
        background-color: green;
    }
    & .yellow {
        background-color: yellow;
        color: black;
    }
    max-height: 20vh;
    overflow: scroll;

    &:empty {
        display: none;
    }
}

.error:empty {
    display: none;
}

.interest:has(:target) {
   background-color: yellow;
}

.messages {
    max-height: 30vh;
    overflow: scroll;

    & pre {
        white-space: pre-wrap;
    }
}

.leaflet-popup-content {
    overflow: scroll;
    & img {
        display: inline;
    }
}
