html, body, #map {
    height: 95%;
    width: 100vw;
}
.leaflet-popup-content {
    overflow: scroll;
    & img {
        display: inline;
        /* height: 100%; */
    }
}

dialog {
    height: unset;
}
