name: "push docker image"
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - shell: bash
        run: |
          echo "$DOCKER_PASSWORD" | nix run nixpkgs#skopeo -- login docker.io -u docteurklein --password-stdin
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - run: nix run .#oci.copyToRegistry
